{:itonami.blueprint/id "cloud-itonami-isic-4649"
 :itonami.blueprint/name "Wholesale of other household goods"
 :itonami.blueprint/isic-rev5 "4649"
 :itonami.blueprint/domain :downstream/household-goods-wholesale
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:consumer-safety :child-safety :transparency]
 :itonami.blueprint/governor :consumer-product-safety-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :optimization]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true
 :itonami.blueprint/maturity :implemented}
