{:kotoba.app/id "cloud.itonami.isic-4649", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiefixmeldqijv6f45iml2ve3oorvnfyayhdnua7slk4insmxnmebi", :kotoba.app/embed-url "ipfs://bafkreiefixmeldqijv6f45iml2ve3oorvnfyayhdnua7slk4insmxnmebi", :published {:archive "https://kotobase.net/ipfs/bafkreiefixmeldqijv6f45iml2ve3oorvnfyayhdnua7slk4insmxnmebi", :size 72761, :put-status 201, :get-status 200, :at "2026-08-15T13:37:54.406Z"}}
